<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<link href="~/Content/style.css" rel="stylesheet" />

<style>
    .tex-color {
        color: black;
    }
</style>
<footer class="text-center text-lg-start text-muted  text-light mt-2" style="background-color: #4D95FD">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="tex-color" style="background-color:#4D95FD">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> THU DAU MOT UNIVERSITY
                    </h6>
                    <p class="tex-color">
                        Tiếng Việt: Trường Đại học Thủ Dầu Một<br />
                        Viết tắt: ĐH TDM <br />
                        Tiếng Anh: Thu Dau Mot University<br />
                        Viết tắt: TDMU<br />
                        Loại hình trường: Công lập<br />
                        Cơ quan chủ quản: Ủy ban Nhân dân tỉnh Bình Dương<br />
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        ĐƠN VỊ TRỰC THUỘC
                    </h6>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Khoa - Viện</a>
                    </p>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Phòng ban</a>
                    </p>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Trung tâm</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        ĐẢNG - ĐOÀN THỂ
                    </h6>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Đảng ủy</a>
                    </p>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Công đoàn - Ban liên lạc cựu giáo chức</a>
                    </p>
                    <p class="tex-color">
                        <a href="#!" class="text-reset">Đoàn Thanh niên - Hội Sinh viên</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                    <p class="tex-color"><i class="fas fa-home me-3"></i> Số 06, Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương</p>
                    <p class="tex-color">
                        <i class="fas fa-envelope me-3"></i>
                        tdmu@edu.vn
                    </p>
                    <p class="tex-color"><i class="fas fa-phone me-3"></i> + 0274-382-2518</p>
                    <p class="tex-color"><i class="fas fa-print me-3"></i> + 0274-383-7150</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold " href="#">TDMU Quản lý giảng viên</a>
    </div>
    <!-- Copyright -->
</footer>
