@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success text-center">
                <h2>Đăng ký thao giảng thành công!</h2>
                <p>
                    Xin chân thành cảm ơn thầy/cô đã dành thời gian và công sức để đăng ký thao giảng.
                    Sự hiện diện và chia sẻ của thầy/cô là nguồn động viên lớn giúp chúng em tiếp tục hành trình học tập.
                </p>
            </div>
        </div>
    </div>
</div>