@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success text-center">
                <h2>Đăng ký dự giờ thành công!</h2>
                <p>
                    Cảm ơn thầy, cô đã đăng ký dự giờ. Sự hiện diện của thầy, cô sẽ là một trải nghiệm học tập đặc sắc và ý nghĩa.
                    Hãy đến dự đúng giờ theo thông tin đã đăng ký.
                </p>
            </div>
        </div>
    </div>
</div>
